:root{
  width: 100%;
  height: 100%;
  background-color: #8888aa;
}

#title{
  width: 500px;
  height: 100px;
  background-color: #5555dd;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

#title label, #goal label{
  position: absolute;
  width: fit-content;
  height: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#balls{
  position: absolute;
  top: 250px;
  left: 50%;
  width: 800px;
  height: 200px;
  transform: translate(-50%,-50%);
}

.ball{
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #4444aa;
}

.ball label{
  user-select: none;
  font-size: 60px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.myButton{
  width: 400px;
  height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  border-radius: 20px;
  background-color: #5555dd;
  border: none;
  position: relative;
}

.myButton:hover{
  background-color: #3333bb;
  z-index: 2;
}

.myButton:hover::before{
  content: "";
  width: 400px;
  height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  border-radius: 20px;
  background-color: #5555dd;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  --x: 2;
  z-index: 1;
  animation: clickedAnimation 0.4s ease-out;
  animation-fill-mode: forwards;
  
}

#goal{
  width: 900px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translateX(-50%);
}

@keyframes clickedAnimation{
  0% {transform: translate(calc(var(--x)*-25%),-50%) scale(100%); opacity: 100%; }
  100% {transform: translate(calc(var(--x)*-25%),-50%) scale(125%); opacity: 0%;}
}